:host {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    padding: 32px 0;
    kor-text {
      flex: 1;
      font-size: 24px;
    }
  }
}