<div class="header">
  <kor-text size="header-1">Projects</kor-text>
</div>
<!-- project list -->
<kor-card>
  <kor-table>
    <kor-table-row slot="header">
      <kor-table-cell
        head
        grid-cols="12"
      >Project name</kor-table-cell>
      <kor-table-cell
        head
        grid-cols="6"
      >Updated date</kor-table-cell>
      <kor-table-cell
        head
        grid-cols="6"
      >Owner</kor-table-cell>
    </kor-table-row>
    <kor-table-row
      *ngFor="let project of projects"
      (click)="router.navigateByUrl('/project/' + project.uid)"
    >
      <kor-table-cell grid-cols="12">{{project.name}}</kor-table-cell>
      <kor-table-cell grid-cols="6">{{project.updatedDate.toDate() | date}}</kor-table-cell>
      <kor-table-cell grid-cols="6">
        <app-user-avatar [userId]="project.owner"></app-user-avatar>
      </kor-table-cell>
    </kor-table-row>
  </kor-table>
  <kor-button
    slot="footer"
    label="New Project"
    (click)="userService.user ? newProjectModalVisible = true : userService.signInModalVisible = true"
  ></kor-button>
</kor-card>
<!-- new project modal -->
<app-new-project-modal
  *ngIf="newProjectModalVisible"
  (close)="newProjectModalVisible = false; $event ? setProject($event) : ''"
></app-new-project-modal>