<kor-modal
  sticky
  height="auto"
  width="400px"
  label="New Project"
  [visible]="visible"
>
  <kor-input
    label="Project name"
    [value]="projectData?.name"
    (value-changed)="projectData ? projectData.name = $event.target.value : ''"
  ></kor-input>
  <!-- footer actions -->
  <kor-button
    slot="footer"
    color="tertiary"
    label="Cancel"
    (click)="projectData = undefined; closeModal()"
  ></kor-button>
  <kor-button
    slot="footer"
    label="Confirm"
    (click)="closeModal()"
  ></kor-button>
</kor-modal>