<kor-pane
  [label]="expanded ? components.selectedComponent?.name : null"
  [ngClass]="{'condensed': !expanded}"
>
  <!-- collapsed content -->
  <kor-icon
    [icon]="expanded ? 'keyboard_arrow_right' : 'tune'"
    button
    (click)="expanded = !expanded"
    [slot]="expanded ? 'functions' : ''"
  ></kor-icon>
  <!-- expanded content -->
  <ng-container *ngIf="expanded">
    <!-- empty state -->
    <kor-empty-state
      *ngIf="!components?.selectedComponent"
      label="No component selected"
      icon="tune"
    >
    </kor-empty-state>
    <!-- content -->
    <ng-container *ngIf="components?.selectedComponent">
      <ng-container *ngFor="let attr of components?.selectedComponent?.attributes">
        <kor-input
          *ngIf="attr.type === 'String' || attr.type === 'Number' || attr.type.indexOf('|') > 0"
          [type]="attr.type === 'String' ? 'text' : attr.type === 'Number' ? 'number' : 'select'"
          [label]="attr.name"
          [value]="components.selectedElement?.getAttribute(attr.name)"
          (value-changed)="
          setElementAttribute('string', attr.name, $event.target.value)
        "
        >
          <!-- select type only -->
          <ng-container *ngIf="attr.type.indexOf('|') > 0">
            <kor-menu-item
              *ngFor="let item of getTypeSelectItems(attr.type)"
              [label]="item"
            ></kor-menu-item>
          </ng-container>
        </kor-input>
        <kor-checkbox
          *ngIf="attr.type == 'Boolean'"
          [label]="attr.name"
          [active]="components.selectedElement?.getAttribute(attr.name)"
          (active-changed)="
          setElementAttribute('boolean', attr.name, $event.target.active)
        "
        ></kor-checkbox>
      </ng-container>
      <!-- parent slots -->
      <ng-container *ngIf="components.getSlots(components.selectedElement?.parentElement)?.length > 1">
        <kor-divider></kor-divider>
        <kor-input
          type="select"
          label="slot"
          [value]="components.selectedElement?.getAttribute('slot')"
          (value-changed)="
          setElementAttribute('string', 'slot', $event.target.value)
        "
        >
          <kor-menu-item
            *ngFor="
            let slot of components.getSlots(
              components.selectedElement?.parentElement
            )
          "
            [label]="slot.name !== '' ? slot.name : 'unnamed'"
            [active]="
            components.selectedElement?.getAttribute('slot') == slot.name
          "
          ></kor-menu-item>
        </kor-input>
      </ng-container>
      <kor-divider></kor-divider>
      <!-- inner text -->
      <!-- TODO: move change logic to its own function -->
      <kor-textarea
        *ngIf="components?.selectedComponent.slots"
        label="Inner Text"
        rows="4"
        [value]="components.elementInnerText"
        (change)="components.elementInnerText = $event.target.value; components.elementInnerText ? components.selectedElement!.innerText = components.elementInnerText : ''"
      ></kor-textarea>
      <!-- styles -->
      <kor-textarea
        label="Style"
        rows="4"
        [value]="components.elementStyles"
        (change)="components.elementStyles = $event.target.value; setElementAttribute('string', 'style', components.elementStyles)"
      ></kor-textarea>
    </ng-container>
  </ng-container>
</kor-pane>