:host {
  display: flex;
  z-index: 1;
  kor-pane {
    transition: .1s all ease-in-out;
    max-width: 320px;
    &.condensed {
      max-width: 56px;
    }
  }
  kor-card {
    min-height: 200px;
    max-height: 200px;
  }
  ngx-monaco-editor {
    height: 100%;
    overflow: hidden;
  }
}
