:host {
  display: flex;
  z-index: 1;
  kor-pane {
    background: var(--base-3);
    box-shadow: none;
    border-left: 1px solid rgba(var(--neutral-1), .25);
    transition: .1s all ease-in-out;
    max-width: 320px;
    &.condensed {
      max-width: 56px;
    }
  }
  kor-card {
    min-height: 200px;
    max-height: 200px;
  }
  ngx-monaco-editor {
    height: 100%;
    overflow: hidden;
  }
}
