<kor-page
  scrollable
  flat
>
  <kor-app-bar
    slot="top"
    label="Kor Sandbox"
    logo="assets/favicon.png"
  >
    <kor-avatar
      slot="functions"
      (click)="!userService.user ? userService.signInModalVisible = true : ''"
      [label]="userService.user?.name"
      [info]="userService.user?.email"
      [image]="userService.user?.image"
    >
    </kor-avatar>
  </kor-app-bar>
  <router-outlet></router-outlet>
</kor-page>
<!-- sign in -->
<app-sign-in
  *ngIf="userService.signInModalVisible"
  (close)="userService.signInModalVisible = false"
></app-sign-in>