<kor-page scrollable>
  <kor-app-bar
    slot="top"
    label="Kor Sandbox"
    logo="https://kor-ui.com/assets/favicon.png"
    (logo-clicked)="router.navigateByUrl('/')"
  >
    <kor-avatar
      slot="functions"
      (click)="!userService.user ? userService.signInModalVisible = true : userService.userDrawerVisible = true"
      [label]="userService.user?.name"
      [info]="userService.user?.email"
      [image]="userService.user?.image"
    >
    </kor-avatar>
  </kor-app-bar>
  <router-outlet></router-outlet>
</kor-page>
<!-- sign in -->
<app-sign-in
  *ngIf="userService.signInModalVisible"
  (close)="userService.signInModalVisible = false"
></app-sign-in>
<!-- user drawer -->
<app-user-drawer
  *ngIf="userService.userDrawerVisible"
  (close)="userService.userDrawerVisible = false"
></app-user-drawer>