<kor-page scrollable>
  <kor-app-bar
    slot="top"
    label="Kor Sandbox"
    logo="assets/favicon.png"
  >
    <kor-avatar
      slot="functions"
      (click)="!userService.user ? userService.signInModalVisible = true : ''"
      [label]="userService.user?.displayName"
      [info]="userService.user?.email"
      [image]="userService.user?.photoURL"
    >
    </kor-avatar>
  </kor-app-bar>
  <router-outlet></router-outlet>
</kor-page>
<!-- sign in -->
<app-sign-in *ngIf="userService.signInModalVisible"></app-sign-in>