:host {
  display: flex;
  z-index: 1;
  kor-pane {
    background: var(--base-3);
    box-shadow: none;
    border-right: 1px solid rgba(var(--neutral-1), .25);
    transition: .1s all ease-in-out;
    max-width: 320px;
    &.condensed {
      max-width: 56px;
    }
    kor-menu-item {
      cursor: move;
      margin-bottom: 0;
      &:not(:hover) kor-icon {
        opacity: 0;
      }
    }
  }
}
