<kor-page>
  <!-- the components menu -->
  <app-menu slot="left"></app-menu>
  <!-- the app canvas -->
  <app-canvas
    [readonly]="project?.owner !== userService.user?.uid"
    [content]="currentPage?.content"
    [viewport]="project?.viewport"
    (save)="setCurrentPageContent($event.content); setViewport($event.viewport)"
  >
    <div class="canvas-label">
      {{project?.name}}
      <kor-icon
        icon="keyboard_arrow_right"
        color="rgba(var(--neutral-1), 0.4)"
      ></kor-icon>
      {{currentPage?.name}}
    </div>
  </app-canvas>
  <!-- the configuration menu -->
  <app-configuration slot="right"></app-configuration>
</kor-page>
<!-- change page popover -->
<kor-popover [target]="'.canvas-label'">
  <kor-menu-item
    *ngFor="let page of pages"
    [label]="page.name"
    [active]="currentPage?.uid === page.uid"
    [toggle]="false"
    (click)="openPage(page.uid)"
  ></kor-menu-item>
</kor-popover>