<kor-card
  flat
  [label]="label"
>
  <div
    class="functions"
    slot="functions"
  >
    <!-- scale -->
    <div class="scale">
      <kor-icon
        button
        icon="remove"
        (click)="
      currentScale = currentScale > 0.2 ? currentScale - 0.05 : currentScale
    "
      ></kor-icon>
      <kor-text>{{ round(currentScale * 100) }}%</kor-text>
      <kor-icon
        button
        icon="add"
        (click)="
      currentScale = currentScale < 1.5 ? currentScale + 0.05 : currentScale
    "
      ></kor-icon>
    </div>
    <!-- viewport -->
    <kor-button
      id="viewport"
      color="tertiary"
      [icon]="currentViewport.icon"
    ></kor-button>
    <kor-popover
      [target]="'#viewport'"
      position="bottom"
    >
      <kor-menu-item
        *ngFor="let viewport of viewports"
        [toggle]="false"
        [label]="viewport.label"
        [icon]="viewport.icon"
        [active]="currentViewport == viewport"
        (click)="currentViewport = viewport"
      ></kor-menu-item>
    </kor-popover>
    <!-- rotate -->
    <kor-button
      color="tertiary"
      icon="screen_rotation"
      (click)="rotateDevice()"
    >
    </kor-button>
    <kor-button
      color="secondary"
      icon="code"
      (click)="getCode()"
    >
    </kor-button>
  </div>
  <!-- canvas -->
  <div
    id="canvas"
    [style.minHeight]="currentViewport?.height"
    [style.minWidth]="currentViewport?.width"
    [style.zoom]="currentScale"
    (dragover)="drag.handleDragOver($event)"
    (dragleave)="drag.handleDragLeave($event)"
    (drop)="drag.handleDrop($event)"
    (click)="components.selectComponent($event.target)"
    (mousedown)="drag.addComponentListeners($event.target)"
    (contextmenu)="handleContextMenu($event)"
  >
    <kor-page flex-direction="column"></kor-page>
  </div>
</kor-card>

<!-- context menu -->
<kor-popover
  [visible]="showContextMenu"
  [style.left]="popoverCoords.x"
  [style.top]="popoverCoords.y"
>
  <kor-text size="header-2">{{components.selectedComponent?.name}}</kor-text>
  <kor-menu-item
    label="Duplicate"
    (click)="
      duplicateElement(components.selectedElement);
      $event.stopImmediatePropagation()
    "
  ></kor-menu-item>
  <kor-menu-item
    label="Delete"
    (click)="
      removeElement(components.selectedElement);
      $event.stopImmediatePropagation()
    "
  ></kor-menu-item>
</kor-popover>

<app-code
  *ngIf="code"
  [code]="code"
  (close)="setCode($event)"
></app-code>