:host {
  display: flex;
  width: 100%;
  .functions {
    display: flex;
    align-items: center;
    > * + * {
      margin-left: 8px;
    }
    .scale {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 3px;
      border: 1px solid rgba(var(--neutral-1), 0.25);
      > * + * {
        margin-left: 4px;
      }
      kor-text {
        width: 36px;
        text-align: center;
      }
    }
  }
  #canvas {
    margin: auto;
    > kor-page {
      pointer-events: none;
      perspective: 1px;
      border: 1px solid rgba(var(--neutral-1), 0.6);
    }
  }
  kor-modal > ngx-monaco-editor {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  > kor-popover > kor-menu-item {
    margin-bottom: 0;
  }
}
