app-canvas {
  kor-page, 
  kor-page * {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: -2px;
    pointer-events: all !important;
    outline-color: transparent;
    &.hovered-component {
      outline-color: rgba(var(--neutral-1), .4);
    }
    &.selected-component {
      outline-color: rgb(var(--functional-blue));
    }
    &.drop-before {
      position: relative;
      &::before,
      &::after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(var(--functional-green));
      }
      &::before {
        width: 100%;
        height: 2px;
      }
      &::after {
        width: 2px;
        height: 100%;
      }
    }
    &.drop-inside {
      outline-color: rgb(var(--functional-green));
    }
  }
}
