.drag-over,
.selected-component {
  outline-offset: 2px;
}
.drag-over {
  outline: 1px solid rgb(var(--functional-yellow));
}
.selected-component {
  outline: 1px solid rgb(var(--functional-blue));
}
