
app-canvas {
  display: flex;
  flex-direction: column;
  kor-page, 
  kor-page * {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: -2px;
    pointer-events: all !important;
    outline-color: transparent;
    &.hovered-component {
      outline-color: rgba(var(--neutral-1), .4);
    }
    &.selected-component {
      outline-color: rgb(var(--functional-blue));
    }
    &.drag-over {
      outline-color: rgb(var(--functional-green));
    }
  }
}
